  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
        
        </div>
        
      </div>
      
      <ul class="sidebar-menu">
        <li class="header">ADMINISTRATION</li>
        <li class="active treeview">
          <a href="{% url 'debadmin_index' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            
          </a>
         
        </li>

      
        <li class="treeview {% if slider_active == 'active' or about_active == 'active' or gallery_active == 'active' or contact_active == 'active' or valuable_customer_active == 'active' or video_active == 'active' or faq_active == 'active' or banner_active == 'active' or policy_active == 'active' or pincode_service_active == 'active' %}active{% endif %}">
          <a href="#">
            <i class="fa fa-cogs"></i>
            <span>Setting Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

            <li class="{% if slider_active == 'active' %}active{% endif %}"><a href="{% url 'slider_view' %}"><i class="fa fa-circle-o"></i>Manage Slider</a></li>

            <li class="{% if banner_active == 'active' %}active{% endif %}"><a href="{% url 'banner_view' %}"><i class="fa fa-circle-o"></i>Manage Banner</a></li>


             <li class="{% if gallery_active == 'active' %}active{% endif %}"><a href="{% url 'gallery_listview' %}"><i class="fa fa-circle-o"></i>Manage Gallery</a></li> 
          
             <li class="{% if valuable_customer_active == 'active' %}active{% endif %}"><a href="{% url 'valuable_customer_view' %}"><i class="fa fa-circle-o"></i>Manage Valuable Customers</a></li>

             <li class="{% if video_active == 'active' %}active{% endif %}"><a href="{% url 'video_view' %}"><i class="fa fa-circle-o"></i>Manage Videos</a></li>

             <li class="{% if pincode_service_active == 'active' %}active{% endif %}"><a href="{% url 'pincode_service_listview' %}"><i class="fa fa-circle-o"></i>Manage Pincode</a></li>

             <li class="{% if about_active == 'active' %}active{% endif %}"><a href="{% url 'about_us_add' %}"><i class="fa fa-circle-o"></i>Manage About Us</a></li> 

             <li class="{% if contact_active == 'active' %}active{% endif %}"><a href="{% url 'contact_us_add' %}"><i class="fa fa-circle-o"></i>Manage Contact Us</a></li>

             <li class="{% if faq_active == 'active' %}active{% endif %}"><a href="{% url 'faq_list_view' %}"><i class="fa fa-circle-o"></i>Manage FAQ</a></li>

             <li class="{% if policy_active == 'active' %}active{% endif %}"><a href="{% url 'policy_add' %}"><i class="fa fa-circle-o"></i>Manage Policy</a></li>

          </ul>
      </li>



      <li class="treeview {% if category_active == 'active' or brand_active == 'active' or product_active == 'active'%}active{% endif %}">
          <a href="#">
            <i class="fa fa-book"></i>
            <span>Catelog Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if category_active == 'active' %}active{% endif %}"><a href="{% url 'category_listview' %}"><i class="fa fa-circle-o"></i>Manage Category</a></li>

             <li class="{% if brand_active == 'active' %}active{% endif %}"><a href="{% url 'brand_list_view' %}"><i class="fa fa-circle-o"></i>Manage Brand</a></li> 

             <li class="{% if product_active == 'active' %}active{% endif %}"><a href="{% url 'product_list_view' %}"><i class="fa fa-circle-o"></i>Manage Product</a></li> 

          </ul>
      </li>

      <li class="treeview {% if order_list_active == 'active' or low_stock_list_active == 'active' %}active{% endif %}">
          <a href="#">
            <i class="fa fa-shopping-cart"></i>
            <span>Order Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if order_list_active == 'active' %}active{% endif %}"><a href="{% url 'order_list_view' %}"><i class="fa fa-circle-o"></i>Manage Order</a></li>

          </ul>
          <ul class="treeview-menu">
            <li class="{% if low_stock_list_active == 'active' %}active{% endif %}"><a href="{% url 'low_stock_list_view' %}"><i class="fa fa-circle-o"></i>Manage Low Stock</a></li>

          </ul>

      </li>


      <li class="treeview {% if user_list_active == 'active' %}active{% endif %}">
          <a href="#">
            <i class="fa fa-user"></i>
            <span>User Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if user_list_active == 'active' %}active{% endif %}"><a href="{% url 'user_list_view' %}"><i class="fa fa-circle-o"></i>Manage Users</a></li>

          </ul>
      </li>

      <li class="treeview {% if enquiry_list_active == 'active' or enquiry_product_list_active == 'active' %}active{% endif %}">
          <a href="#">
            <i class="fa fa-envelope"></i>
            <span>Enquiry Management</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="{% if enquiry_list_active == 'active' %}active{% endif %}"><a href="{% url 'enquiry_list_view' %}"><i class="fa fa-circle-o"></i>Manage Enquiry</a></li>

          </ul>

          <ul class="treeview-menu">
            <li class="{% if enquiry_product_list_active == 'active' %}active{% endif %}"><a href="{% url 'enquiry_product_list_view' %}"><i class="fa fa-circle-o"></i>Manage Products Enquiry</a></li>

          </ul>
      </li>








      
        
		  
		  </ul> 

        <li class="treeview">
          <a href="#">
    </section>
    <!-- /.sidebar -->
  </aside>