{% load static %}
{% include 'common/header.html' %}


<div class="main-content-wrapper">
                <div class="page-inner ptb--80">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="form-box">
                                    <h1>Forgot Password</h1>
                                    <p>Please provide your login email:</p>
                                    
                                    <!--{% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}">
                                            <a class="close" href="#" data-dismiss="alert">×</a>
                                            {{ message }}
                                        </div>
                                    {% endfor %}-->
                                    <form class="form" id="sign_up_form" method="POST" action="{% url 'forgot_password' %}">{% csrf_token %}

                                        
                                          
                                        <div class="sadia-form-group row">
                                            <div class="col-md-12 col-lg-12 col-12">
                                                <input type="email" name="login_email" id="login_email" class="sadia-input-form" placeholder="Login Email">
                                                <span id="check_email" style="color: red;"></span>
                                            </div>
                                        </div>
                                        
                                        
                                        <!--<div class="sadia-form-group row">
                                            <div class="col-lg-12 col-12">
                                                <a href="#" class="forgot-pass">Forgot your password?</a>
                                            
                                     
                                            </div>
                                           
                                        </div> -->
                                    <button type="button" id="retrieve_button" onclick="validate_email_id()" class="btn btn--large btn-style-3">Retrieve Password</button>
                                    </form>
                                     <!--<div class="sign-block-up">
                                            <a href="javascript:void(0)" onclick="signup_form_validation()" >Sign Up</a>
                                    </div>-->
                                    
                                    <div class="sign-block-up">
                                    <a class="create-account-link" href="{% url 'login' %}">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </div>   
                </div>
            </div>

<script>
        function signup_validation()
        {  
            
            var login_email=$('#login_email').val();
            
            var emailExpression = /^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i;
            // var mobileExpression =  /^\d{10}$/;
            if (login_email == "") 
            {
                $('#login_email').addClass('red_border');
            }
            else 
            {
                if(!emailExpression.test(login_email))
                {
                    $('#login_email').addClass('red_border');
                    $('#check_email').html('Enter your proper email id');
                }
                else
                {
                    $('#login_email').removeClass('red_border');
                    $('#check_email').html('');
                }
            } 

            
        }

        function validate_email_id()
        {
            $('#sign_up_form').attr('onchange', 'signup_validation()');
            $('#sign_up_form').attr('onkeyup', 'signup_validation()');
            $('#sign_up_form').attr('onfocus', 'signup_validation()');

            signup_validation();
            var login_email=$('#login_email').val();
            
            if ($('#sign_up_form .red_border').size() > 0)
              {
                $('#sign_up_form .red_border:first').focus();
                return false;
              }

            else{
                $('#retrieve_button').attr('disabled','disabled');
                $.ajax({
                  url:"{% url 'fetch_password_n_send' %}",
                  data:{login_email:login_email,'csrfmiddlewaretoken': '{{ csrf_token }}'},
                  dataType:'json',
                  type:'post',
                  success: function(data)
                  {

                    $('#check_email').html(data.result);
                    $('#retrieve_button').removeAttr('disabled');

                  }
                });

        }
    }
</script>


{% include 'common/footer.html' %}