
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h3>
        ADMIN/PROFILE EDIT
        
      </h3>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">PROFILE EDIT
              <span style="padding-right: 40px;"></span>
               
              </h3>
                <div id="validation" style="color:red;"></div>
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
    {% endfor %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form id="profileedit_form_validation" class="form-horizontal" action="{% url 'admin_profile_edit' %}" method="post">{% csrf_token %}
              <div class="box-body">
              <div class="form-group">
                  <label for="inputName" class="col-sm-2 control-label">Name</label>

                  <div class="col-sm-10">
                    <input type="text" name="full_name" id="full_name"class="form-control" placeholder="Name" value="{{ profile_data.0.full_name }}">
                     <span id="error_name" style="color:red"></span>
                  </div>
                 
                </div>
            
                <div class="form-group">
                  <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                  <div class="col-sm-10">
                    <input type="email" name="email" class="form-control" id="email" placeholder="Email"  value="{{ profile_data.0.login_email }}">
                    <span id="error_email" style="color:red"></span>
                  </div>
                  
                </div>
                
                
              </div>
              <input type="hidden" name="userid" value="{{ profile_data.0.id }}">
              <div id="error"></div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{% url 'debadmin_index' %}" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  </div>


{% include 'common/admin_footer.html' %}       