
 
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        ADMIN/PASSWORD CHANGE
        
      </h1>
      
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        
        <!--/.col (left) -->
        <!-- right column -->
        <div class="col-md-12">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">CHANGE PASSWORD<span style="padding-right: 30px;"></span> </h3>
              <div id="validation" style="color:red;"></div>
              {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
    {% endfor %}
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal" action="{% url 'admin_password_update' %}" method="post" id="changepwd_form_validation" > {% csrf_token %}
                
              <div class="box-body">
              <div class="form-group">
                  <label for="oldpwd" class="col-sm-2 control-label">Old Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="old_pass" class="form-control" id="old_pass" onkeyup="old_pass_check(this.value)" placeholder="Old Password" value="" >
                     <span id="error_op" style="color:red"></span>
                  </div>
                 <input type="hidden" id="hidden_pass" value="{{ profile_data.0.login_password }}" >
                 <input type="hidden" id="hidden_user_id" name="hidden_user_id" value="{{ profile_data.0.id }}" >
                </div>
                <div class="form-group">
                  <label for="newpassword" class="col-sm-2 control-label">New Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="new_pass" class="form-control" id="new_pass" placeholder="New Password"  value="">
                    <span id="error_np" style="color:red"></span>
                  </div>
                  
                </div>
                <div class="form-group">
                  <label for="Confpassword" class="col-sm-2 control-label">Confirm Password</label>

                  <div class="col-sm-10">
                    <input type="password" name="con_pass" class="form-control" id="con_pass" onkeyup="con_pass_check(this.value)" placeholder="Confirm Password"  value="">
                    <span id="error_cp" style="color:red"></span>

                  </div>
                  
                </div>
                
                
              </div>
             
              <div id="error"></div>
              <!-- /.box-body -->
              <div class="box-footer">
                <a href="{% url 'debadmin_index' %}" class="btn btn-danger">Cancel</a>
                <button type="button" class="btn btn-info pull-right" onclick="return password_validation()">Update</button>
              </div>
              <!-- /.box-footer -->
            </form>
          </div>
          <!-- /.box -->
          <!-- general form elements disabled -->
          
          <!-- /.box -->
        </div>
        <!--/.col (right) -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</div>

 
<script type="text/javascript">
function old_pass_check(old_pass)
{
  var prev_pass = $('#hidden_pass').val();
  if(old_pass)
  {
    if(prev_pass==old_pass)
    {
      $('#old_pass').removeClass('red_border');
      $('#error_op').html('');
    }
    else
    {
      $('#old_pass').addClass('red_border');
      $('#error_op').html('Password does not match!');
    }
  }
  else
  {
    $('#old_pass').removeClass('red_border');
    $('#error_op').html('');
  }
}

function con_pass_check(con_pass)
{
  var new_pass = $('#new_pass').val();
  if(con_pass)
  {
    if(new_pass==con_pass)
    {
      $('#con_pass').removeClass('red_border');
      $('#error_cp').html('');
    }
    else
    {
      $('#con_pass').addClass('red_border');
      $('#error_cp').html('Confirm password does not match with new password');
    }
  }
  else
  {
    $('#con_pass').removeClass('red_border');
    $('#error_cp').html('');
  }
}


        function validation()
        {  
          var old_pass=$('#old_pass').val();
          var new_pass=$('#new_pass').val();
          var con_pass=$('#con_pass').val();
          var prev_pass = $('#hidden_pass').val();

          if (old_pass == "") 
          {
            $('#old_pass').addClass('red_border');
          }
          else 
          {
            if (old_pass==prev_pass) 
            {
              $('#old_pass').removeClass('red_border');
              $('#error_op').html('');
            }
            else 
            {
              $('#old_pass').addClass('red_border');
              $('#error_op').html('Password does not match!');
            }
          } 

          if (new_pass == "") 
          {
            $('#new_pass').addClass('red_border');
          }
          else 
          {
            $('#new_pass').removeClass('red_border');
          }

          if (con_pass == "") 
          {
            $('#con_pass').addClass('red_border');
          }
          else 
          {
            if (con_pass==new_pass) 
            {
              $('#con_pass').removeClass('red_border');
              $('#error_cp').html('');
            }
            else 
            {
              $('#con_pass').addClass('red_border');
              $('#error_cp').html('Confirm password does not match with new password');
            }
          }
        }

        function password_validation()
        {
            $('#changepwd_form_validation').attr('onchange', 'validation()');
            $('#changepwd_form_validation').attr('onkeyup', 'validation()');
            $('#changepwd_form_validation').attr('onfocus', 'validation()');

            validation();

              if ($('#changepwd_form_validation .red_border').size() > 0)
              {
                $('#changepwd_form_validation .red_border:first').focus();
                return false;
              }
              else 
              {
                  $('#changepwd_form_validation').submit();
              }
        }

</script>

{% include 'common/admin_footer.html' %}    
            