{% load static %}
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Video
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'debadmin_index' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li>Add Video</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <!-- <h3 class="box-title">Add Home Slider</h3> -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form name="main" id="video_add_form" action="{% url 'video_insert' %}" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="box-body">
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="coupon_code" class="col-sm-2 control-label text-center">Video Link: <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="link" id="link">
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="coupon_code" class="col-sm-2 control-label text-center">Sample Video Link: <span style="color: rgb(255, 0, 0); padding-left: 2px;"></span></label>
                                    <div class="col-sm-7">
                                       <span style="color: rgb(225, 0, 0); padding-left: 2px;">(https://youtu.be/SUo2fHZaZCU) </span>
                                    </div>
                                </div>
                        

                               
                                <div class="form-group">
            
                                <div class="clearfix"></div>
                                <div class="box-footer" style="margin-top: 10px">
                                    <button type="button" class="btn btn-primary" onclick="return form_validation()">Submit</button>
                                    <a href="{% url 'video_view' %}" class="btn btn-danger">Cancel</a>
                                </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>

<script>
    function readURL(input)
    {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prof_pic')
                    .attr('src', e.target.result)
                    .width(90)
                    .height(90);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    function validate()
    {
        if($('#link').val()=="")
        {
            $("#link").addClass("red_border");
        }
        else
        {
            $("#link").removeClass("red_border");
        }

    }
    
        function form_validation()
        {
            $('#video_add_form').attr('onchange', 'validate()');
            $('#video_add_form').attr('onkeyup', 'validate()');
            $('#video_add_form').attr('onfocus', 'validate()');

            validate();

              if ($('#video_add_form .red_border').size() > 0)
              {
                $('#video_add_form .red_border:first').focus();
                return false;
              }
              else 
              {
                  $('#video_add_form').submit();
              }
        }

</script>


{% include 'common/admin_footer.html' %}