{% load static %}
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Update Gallery
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'debadmin_index' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li>Update Gallery</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <!-- <h3 class="box-title">Add Home Slider</h3> -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form name="main" id="gallery_edit_form" action="{% url 'gallery_update' %}" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="box-body">
                                
                             <div class="form-group" style="margin-top: 10px;">
                                    <label for="image" class="col-sm-2 control-label text-center"> Image(600 X 600 px): <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="file"  name="gallery_image" id="gallery_image" onchange="readURL(this);">
                                        <img id="prof_pic" src="{{ gallery_det.0.image.url }}"  alt="User Image" style="margin-top: 10px;width:150px;height:90px;" />
                                    </div>
                            </div>

                            <input type="hidden" name="update_id" id="update_id" value="{{ gallery_det.0.id }}" >
                            <input type="hidden" name="old_image" id="old_image" value="{{ gallery_det.0.image.url }}" >
                        

                            <div class="form-group">
        
                            <div class="clearfix"></div>
                            <div class="box-footer" style="margin-top: 10px">
                                <button type="submit" class="btn btn-primary" >Update</button>
                                <a href="{% url 'gallery_listview' %}" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>

<script>
    function readURL(input)
    {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prof_pic')
                    .attr('src', e.target.result)
                    .width(90)
                    .height(90);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>


{% include 'common/admin_footer.html' %}