{% load static %}
{% include 'common/header.html' %}
<div class="about-banner">
<img src="{% static 'assets/img/bann1.jpg' %}" alt="">
<div class="text-center">
<h2>Return Policy</h2>
<p><span><a href="{% url 'index' %}">Home</a></span> / <span><a href="{% url 'return_policy_view' %}">Return Policy</a></span></p>
</div>  
  
</div>


<section class="my-account-wrapper section-padding">
        	<div class="main container">

     <div class="about-page">
        <div class="col-xs-12"> 
          
          <h3>Returns <span class="text_color"> Policy</span></h3>

          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
          {{ policy_det.0.return_policy|safe }}
         
        </div>
     
      </div>

  </div>

        </section>




{% include 'common/footer.html' %}