{% load static %}
{% include 'common/header.html' %}

<div class="about-banner">
<img src="{% static 'assets/img/bann1.jpg' %}" alt="">
<div class="text-center">
<h2>Terms of  Use</h2>
<p><span><a href="{% url 'index' %}">Home</a></span> / <span><a href="{% url 'terms_of_use_view' %}">Terms of  Use</a></span></p>
</div>  
  
</div>



<section class="my-account-wrapper section-padding">
        	<div class="main container">

     <div class="about-page">
        <div class="col-xs-12"> 
          
          <h3>Terms of  <span class="text_color">Use</span></h3>

          <!-- <ol class="condition-block">
          	<div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
            <div class="right-icon">
          		<i class="fa fa-arrow-right" aria-hidden="true"></i>
          	</div>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</li>
          </ol> -->

          {{ policy_det.0.terms_of_use|safe }}
         
        </div>
     
      </div>

  </div>

        </section>



{% include 'common/footer.html' %}