{% load static %}
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h3>
   Slider
      </h3>
             
      <ol class="breadcrumb">
        <li><a href="{% url 'debadmin_index' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li><a href="">Slider List</a></li>
        
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          
            
            <!-- /.box-header -->
           <form> 
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Slider List</h3>
            </div>

            {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        <a class="close" href="#" data-dismiss="alert">×</a>
                        {{ message }}
                    </div>
                    {% endfor %}
            <!-- /.box-header -->
            <div style="padding-left: 12px;padding-top: 12px;">

              <a href="{% url 'slider_add_view' %}" class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i> Add New Slider</a>

               <button  class="btn btn-sm btn-success" onclick="change_status('active')"><i class="fa fa-check" aria-hidden="true"></i> Active</button>
                <button  class="btn btn-sm btn-danger" onclick="change_status('inactive')"><i class="fa fa-times" aria-hidden="true"></i> Inactive</button> 
             
            </div>
          
            <div class="box-body">
              <div class="table-responsive" style="width: 100%">
              <table id="example1" class="table table-bordered table-hover table-condensed">
                <thead>
                <tr class="bg-blue">
                            <th><input type="checkbox" id="checkAll" name="checkAll"></th>
                            <th>Status</th>
                            <th>Slider Title 1</th>
                            <th>Slider Title 2</th>
                            <th>Slider Image</th>
                            <th>Slider link</th>
                            <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    {% for slider_row in all_slider %}
                                <tr>
                                 <td><input type="checkbox" id="check" name="check" value="{{ slider_row.id }}"></td>
                                    <td>
                                        {% if slider_row.status == 'active' %} 
                                            <img src="{% static 'image/active.png' %}" class="img-responsive" >
                                        {% else %}
                                             <img src="{% static 'image/inactive.png' %}" class="img-responsive">
                                        {% endif %}
                                    </td>
                                    <td>{{ slider_row.title_1 }}</td>
                                    <td>{{ slider_row.title_2 }}</td>
                                    
                                    <td><img src="{{ slider_row.image.url }}" width="150" height="64"></td>
                                    <td>{{ slider_row.link }}</td>
                                    <td class="last_th">
                                        <a href="{% url 'slider_edit_view' slider_row.id %}" class="btn-primary btn-sm" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                       <!--   <a href="<?php echo base_url()?>index.php/manage_home_slider/delete_slider/<?php echo $slider->home_slider_id; ?>" class="btn-danger btn-sm" name="" id="" onclick="return confirm('Are you sure ?')" title="delete"><i class="fa fa-trash" aria-hidden="true"></i></a> -->

                                    </td>
                                </tr>
                              {% endfor %}
                </tbody>
              </table>
            </div>
            </div>
            <!-- /.box-body -->
             </form>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    </div>
    </div>


<script>
    $("#checkAll").change(function () {
        $("input:checkbox").prop('checked', $(this).prop("checked"));
    });

    function change_status(status)
    {
        var favorite = [];
        $.each($("input[name='check']:checked"), function(){
            favorite.push($(this).val());
        });

        var value=favorite;
        if(value=="")
        {
            alert('Please select atleast one record');
        }
        else
        {
            $.ajax({
                    type: "POST",
                    // headers: { "X-CSRFToken": getCookie("csrftoken") },
                    url:"{% url 'slider_status_change' %}",
                    data: {id:value,status:status, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
                    dataType: "json",
                    async: false,
                    success: function(data)
                    {
                        if(data.result==1)
                        {
                            alert('Status Changed Successfully');
                            location.reload();
                        }
                    }
                });
        }

    }

// function getCookie(c_name)
// {
//     if (document.cookie.length > 0)
//     {
//         c_start = document.cookie.indexOf(c_name + "=");
//         if (c_start != -1)
//         {
//             c_start = c_start + c_name.length + 1;
//             c_end = document.cookie.indexOf(";", c_start);
//             if (c_end == -1) c_end = document.cookie.length;
//             return unescape(document.cookie.substring(c_start,c_end));
//         }
//     }
//     return "";
// }
</script>




  {% include 'common/admin_footer.html' %}