{% load static %}
{% include 'common/admin_header.html' %}
{% include 'common/admin_leftmenu.html' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Update Home Slider
            </h1>
            <ol class="breadcrumb">
                <li><a href="{% url 'debadmin_index' %}"><i class="fa fa-dashboard"></i>Dashboard</a></li>
                <li>Update Home Slider</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <!-- <h3 class="box-title">Add Home Slider</h3> -->
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form name="main" id="slider_edit_form" action="{% url 'slider_update' %}" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="box-body">
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="coupon_code" class="col-sm-2 control-label text-center">Slider Title 1: <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" name="title1" id="title1" value="{{ slider_det.0.title_1 }}">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="coupon_type" class="col-sm-2 control-label text-center">Slider Title 2: <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="title2" id="title2" value="{{ slider_det.0.title_2 }}">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group" style="margin-top: 10px">
                                    <label for="coupon_type" class="col-sm-2 control-label text-center">Link: <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                       <input type="text" class="form-control" name="link" id="link" value="{{ slider_det.0.link }}">
                                    </div>
                                </div>
                                <div class="clearfix"></div> 
                             <div class="form-group" style="margin-top: 10px;">
                                    <label for="image" class="col-sm-2 control-label text-center">SLider Image(1920 X 520 px): <span style="color: rgb(255, 0, 0); padding-left: 2px;">*</span></label>
                                    <div class="col-sm-7">
                                        <input type="file"  name="slider_image" id="slider_image" onchange="readURL(this);">
                                        <img id="prof_pic" src="{{ slider_det.0.image.url }}"  alt="User Image" style="margin-top: 10px;width:150px;height:90px;" />
                                    </div>
                            </div>

                            <input type="hidden" name="update_id" id="update_id" value="{{ slider_det.0.id }}" >
                            <input type="hidden" name="old_image" id="old_image" value="{{ slider_det.0.image.url }}" >
                        
     
                            <div class="form-group">
        
                            <div class="clearfix"></div>
                            <div class="box-footer" style="margin-top: 10px">
                                <button type="button" class="btn btn-primary" onclick="return form_validation()">Update</button>
                                <a href="{% url 'slider_view' %}" class="btn btn-danger">Cancel</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
</div>

<script>
    function readURL(input)
    {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#prof_pic')
                    .attr('src', e.target.result)
                    .width(90)
                    .height(90);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<script>
    function validate()
    {
        if($('#title1').val()=="")
        {
            $("#title1").addClass("red_border");
        }
        else
        {
            $("#title1").removeClass("red_border");
        }

        if($('#title2').val()=="")
        {
            $("#title2").addClass("red_border");
        }
        else
        {
            $("#title2").removeClass("red_border");
        }

        if($('#link').val()=="")
        {
            $("#link").addClass("red_border");
        }
        else
        {
            $("#link").removeClass("red_border");
        }
    }
    
        function form_validation()
        {
            $('#slider_edit_form').attr('onchange', 'validate()');
            $('#slider_edit_form').attr('onkeyup', 'validate()');
            $('#slider_edit_form').attr('onfocus', 'validate()');

            validate();

              if ($('#slider_edit_form .red_border').size() > 0)
              {
                $('#slider_edit_form .red_border:first').focus();
                return false;
              }
              else 
              {
                  $('#slider_edit_form').submit();
              }
        }

</script>

<script>

        $("#coupon_add").datepicker({
         startDate: new Date(),
         autoclose: true,
         todayHighlight: 1
    });

    $('#coupon_end').datepicker({
        startDate: new Date(),
        autoclose: true,
        todayHighlight: 1
    });
</script>
<script>
    function clear_form()
    {
         document.getElementById("main").reset();
    } 
</script>

{% include 'common/admin_footer.html' %}